<form  (ngSubmit)="submit()">
  <div class="container-name">


    <app-label for="app-input" text="Write your full name:"> </app-label>
    <app-input placeholder="Write your name" type="text" [control]="name"></app-input>

    <!--¿LAS ALERTAS TAMBIÉN DEBERIAN IR COMO COMPONENTES ATOMICOS?-->
    <div class="alert alert-danger mt2" [hidden]="name.valid || name.pristine">
      Write your name to continue
    </div>
  </div>

  <br />

  <div class="container-password">
    <app-label for="app-input" text="Password:"> </app-label>
    <app-input placeholder="Write a numeric password" type="number" [control]="password"></app-input>

    <div class="alert alert-danger mt2" [hidden]="password.valid || password.pristine">
      Password must be at least 8 numeric characters
    </div>
  </div>

  <app-button textButton="SUBMIT" class="btn-form" [disabled]="name.invalid || password.invalid" ></app-button>
</form>
